body {
    background-color: aquamarine;
    text-align: center;
    background-image:url(../images/recipeimg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#recipe-name{
  font-size: 22px;
  font-weight: bold;
}
#recipe-url{
    font-size: 22px;
}
#ingredients{
    font-size: 22px;
}
#Nutrients{
    font-size: 22px;
}


    